# CMake build output
build/
cmake-build-debug/
cmake-build-release/

# CLion specific
.idea/
*.iml

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Cache files for compile/link
*.ilk
*.aps
*.pdb
*.idb
*.iobj
*.ipdb
*.tlog
*.lastbuildstate

# Benchmarking files
*.measurement

# Coverage files
*.gcno
*.gcda
*.gcov

# System Files
.DS_Store*
Thumbs.db

# Temporary files
*.swp
*~
._*
